* { box-sizing: border-box;-webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
html { font-size: 10px; }
body {
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
    background: #eceded;
    margin: auto auto;
    max-width:720px;
    position: relative;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-weight: normal;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
img { border: 0; vertical-align: top;}
#main{
    background: #ffffff;
}
#main>.banner{
    /*padding: 30px 20px;*/
    overflow: hidden;
    border-bottom: 2px solid #ECEDED;
}
#main>.banner>img{
    /*width: 90px;*/
    /*height:90px;*/
    float: left;
}
#main>.banner>h1{
    float: left;
    /*width: 548px;*/
    /*font-size: 32px;*/
    /*margin-left: 20px;*/
    /*line-height: 46px;*/
}
#main>ul{
    /*padding: 0 20px;*/
}
#main>ul>li{
    /*font-size: 32px;*/
    /*height: 71px;*/
}
#main>ul>li>b{
    float: right;
    font-weight: normal;
}
#main>ul>li>b>span{
    color: #FF718D;
}
.biaoti{
    /*padding-left: 20px;*/
    /*font-size: 32px;*/
    /*line-height: 80px;*/
}
.biaoti i{ float: right; font-style: inherit; display: block;}
.biaoti i u{
	position: relative;
	display: inline-block;
	background: url(../images/triangle.png) right;
    background-size: 100% auto;
    background-repeat: no-repeat;
}


.add{
    /*padding: 28px 20px;*/
    background: #ffffff;
}
.add>h1{
    /*font-size: 28px;*/
    /*margin-bottom: 14px;*/
    font-weight: normal;
    color: #888888;
}
.add span,#add b{
    /*font-size: 34px;*/
    /*line-height: 48px;*/
    font-weight: normal;
}
.add>div>b{
    /*margin-right: 40px;*/
    font-size: 32px;
    font-weight: normal;
}
.list{
    /*padding:0 20px;*/
    background: #ffffff;
}
.list>ul{
    border-top: 2px solid #ECEDED;
}
.list>ul>li{
    border-bottom: 2px dashed #ECEDED;
    padding-bottom: 5px;
}
.list>ul>li>.user{
    /*margin-top: 20px;*/
    /*margin-bottom: 15px;*/
    /*line-height: 56px;*/
    overflow: hidden;
}
.list>ul>li>.user>img{
    float: left;
    /*width: 55px;*/
    /*height: 56px;*/
    /*margin-right: 22px;*/
}
.list>ul>li>.user>h3{
    /*font-size: 32px;*/
    float: left;
}
.list>ul>li>.user>h4{
    /*font-size: 30px;*/
    color: #FF718D;
    float: right;
}
.list>ul>li>.count{
    /*font-size: 28px;*/
    /*margin-bottom: 35px;*/
    color: #888888;
}
.list>ul>li>.count>a{
	display: block;
	text-decoration: none;
	float:right;
	text-align: center;
	color: #FFFFFF;
	background:#FF718D;
	margin-top:-15px;
}
.list>ul>li:last-child{
    border-bottom: 2px solid #ECEDED;
}
.list>.all{
    overflow: hidden;
}
.list>.all>div{
    /*font-size: 32px;*/
    /*margin-top: 26px;*/
    /*margin-bottom: 36px;*/
}
.list>.all>div>h4{
    float: right;
    color: #FF718D;
}
.list>.all>img{
    width: 160px;
    height: 68px;
    float: right;
    /*margin-bottom: 36px;*/
}
footer {
	position: fixed;
	z-index: 11;
	width: 100%;
	max-width: 720px;
	background: #FFFFFF;
	clear: both;
	z-index: 6;
	display: block;
	bottom:0px;
}

footer a {
	display: block;
	position: relative;
	float: left;
	text-align: center;
	vertical-align:middle;
	text-decoration:none;
}

footer a b {
	display: block;
	font-weight: inherit;
	margin-left:3px;white-space: nowrap;
	color: #999999;
}

footer a b.light {
	color: #ff718d;
}

footer a span {
	position: absolute;
	display: block;
	width: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

footer a.home span {
	background-image: url(../images/home.png);
}
footer a.home span.light {
	background-image: url(../images/homeHover.png);
}

footer a.Ingroup span {
	background-image: url(../images/Ingroup.png);
}
footer a.Ingroup b{ margin-left: 4px;}
footer a.Ingroup span.light {
	background-image: url(../images/IngroupHover.png);
}
footer a.mine{float: right;}
footer a.mine span {
	background-image: url(../images/mine.png);
}
footer a.mine b{ margin-left:1px;}
footer a.mine span.light {
	background-image: url(../images/mineHover.png);
}
footer a.Withgroup{float: right;}

footer a.Withgroup span {
	background-image: url(../images/Withgroup.png);
}
footer a.Withgroup b{ margin-left: 4px;}
footer a.Withgroup span.light {
	background-image: url(../images/WithgroupHover.png);
}

footer a.publish{ position:absolute; left: 50%; float: right;}

footer a.publish span {
	background-image: url(../images/publish.png);
}
footer a.publish b{position: absolute; margin-left:0px;}
footer a.publish span.light {
	background-image: url(../images/publishhover.png);
}
@media screen and (max-width: 460px){
	.list>ul>li:last-child{
    border-bottom: 1px solid #ECEDED;
}
.list>ul{
    border-top: 1px solid #ECEDED;
}
.list>ul>li{
    border-bottom: 1px dashed #ECEDED;
}
#main>.banner{
    /*padding: 30px 20px;*/
    border-bottom: 1px solid #ECEDED;
}
}