* { box-sizing: border-box; }
html { font-size: 10px; }
body {
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
    background: #eceded;
    margin: auto auto;
    max-width:720px;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
img { border: 0; vertical-align: middle;}
#top{
    text-align: center;
    /*padding-top: 37px;*/
    /*padding-bottom: 38px;*/
}
#top>img{
    /*width:294px;*/
    /*height:52px;*/
    position: relative;
    /*left:-5px;*/
}
#add{
    /*padding: 30px 20px;*/
    /*margin-bottom: 20px;*/
    background: #ffffff;
}
#add>h1{
    /*font-size: 32px;*/
    /*margin-bottom: 14px;*/
    font-weight: normal;
    color: #888888;
}
#add span,#add b{
    /*font-size: 34px;*/
    /*line-height: 44px;*/
    font-weight: normal;
}
#add>div>b{
    margin-right: 40px;
}
.section{
    /*padding: 0 20px;*/
    /*margin-bottom: 20px;*/
    overflow: hidden;
    background: #ffffff;
}
/*.main>p>img{*/
/*width:56px;*/
/*height:56px;*/
/*}*/
/*.main>p{*/
/*margin: 24px 0;*/
/*}*/
.main>p>span{
    /*margin-left: 22px;*/
    color:#888;
    /*font-size: 30px;*/
    /*line-height: 58px;*/
    position: relative;
    /*top:5px;*/
}
.main>p>b{
    float: right;
    color:#FF718D;
    /*font-size: 26px;*/
    /*line-height: 58px;*/
    position: relative;
    font-weight: normal;
    /*top:5px;*/
}
.main>div{
    border-bottom: 2px solid #ECEDED;
    overflow: hidden;
    /*height: 120px;*/
}
.main>div>img{
    /*width:90px;*/
    /*height:90px;*/
    float: left;
}
.main>div>p{
    /*margin-left: 22px;*/
}
.main>div>p>span{
    float: left;
    position: relative;
    /*margin-left: 20px;*/
    /*bottom: 12px;*/
    /*font-size: 32px;*/
    /*line-height: 47px;*/
}
.main>div>div{
    float: right;
    text-align: right;
    /*font-size: 32px;*/
    /*line-height: 47px;*/
    /*position: relative;*/
    position: relative;
    /*bottom: 12px;*/
}
.main>.text{
    text-align: right;
    /*height: 96px;;*/
    border: none;
}
.text>h1{
    /*font-size: 32px;*/
    /*line-height: 95px;*/
    font-weight: normal;
}
#main-wait .text{
    border-bottom: none;
}
.list{
    background:#ffffff;
    overflow: hidden;
    /*padding:23px 20px;*/
    /*font-size: 32px;*/
    /*margin-bottom: 50px;*/
}
.list>ul>li{
    line-height: 70px;
}
.list>ul>li>b{
    font-weight: normal;
    float: right;
}
footer {
	position: fixed;
	z-index: 11;
	width: 100%;
	max-width: 720px;
	background: #FFFFFF;
	clear: both;
	z-index: 6;
	display: block;
	bottom:0px;
}

footer a {
	display: block;
	position: relative;
	float: left;
	text-decoration: none;
	text-align: center;
	vertical-align:middle;
}

footer a b {
	display: block;
	font-weight: inherit;
	margin-left:3px;white-space: nowrap;
	color: #999999;
}

#top{
	position: relative;
}
#top span{
	position: absolute;
	font-size: 26px;
	color: #FF718D;
}

footer a span {
	position: absolute;
	display: block;
	width: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

footer a.home span {
	background-image: url(../images/home.png);
}
footer a.home span.light {
	background-image: url(../images/homeHover.png);
}

footer a.Ingroup span {
	background-image: url(../images/Ingroup.png);
}
footer a.Ingroup b{ margin-left: 4px;}
footer a.Ingroup span.light {
	background-image: url(../images/IngroupHover.png);
}
footer a.mine{float: right;}
footer a.mine span {
	background-image: url(../images/mine.png);
}
footer a.mine b{ margin-left:1px;}
footer a.mine span.light {
	background-image: url(../images/mineHover.png);
}
footer a.Withgroup{float: right;}

footer a.Withgroup span {
	background-image: url(../images/Withgroup.png);
}
footer a.Withgroup b{ margin-left: 4px;}
/*footer a.Withgroup span.light {
	background-image: url(../images/WithgroupHover.png);
}*/

footer a.publish{ position:absolute; left: 50%; float: right;}

footer a.publish span {
	background-image: url(../images/publish.png);
}
footer a.publish b{position: absolute; margin-left:0px;}
footer a.publish span.light {
	background-image: url(../images/publishhover.png);
}

@media screen and (max-width: 460px){
	.main>div{
    border-bottom: 1px solid #ECEDED;
}