body {
	max-width: 720px;
	margin: auto auto;
	background-image: url(../images/bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.Protocol i {
	float: left;
	display: block;
	background-image: url(../images/Protocolight.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.Protocol i.light {
	background-image: url(../images/Protocol.png);
}

.Protocol span {
	float: left;
	display: block;
	color: #333333;
}
.UdpModule {
	position: absolute;
	z-index: 111;
	top: 0;
	display: none;
	overflow:auto;
	left: 0;
	background:#fff;
}
.UdpModule .AuditProtocol{ background: #FFFFFF; bottom: 0;}
.UdpModule .AuditProtocol h3{ clear: both; color: #000000; text-align: center;}
.UdpModule .AuditProtocol div{ clear: both;}
.UdpModule .AuditProtocol div.Project{ color:#4f4f4f;text-align:justify; }
.UdpModule .AuditProtocol div.handle{ display: table;}
.UdpModule .AuditProtocol div.handle a{ float: left; border: 1px solid #c3c3c3; display: block; text-align: center; color: #4f4f4f;}
.UdpModule .AuditProtocol div.handle a:hover{ background: #ff718d;border: 1px solid #ff718d; color: #FFFFFF;}
.Loginimg {
	display: block;
	margin: auto auto;
}

.getInto {
	clear: both;
}

.getInto a {
	text-align: center;
	color: #ffffff;
	background: #ff718d;
	text-decoration: none;
	display: block;
}

.getInto a:first-child {
	background-image: url(../images/getInto1.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.getInto a.openSelect{ color: #333333; text-indent: 32px; text-align: left;}

.CellList {
	position: fixed;
	z-index: 1;
	top: 0;
	display: none;
	text-align: center;
	/*background: #000;*/	
	/*background: url(../images/CellList_bgg.png);*/
	left: 0;
}

.CellList .banner {
	margin: auto;
	background: #000;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	display: block;
}

.CellList .tit {
	clear: both;
	background: #FFFFFF;
	overflow: hidden;
}

.CellList .tit h3 {
	float: left;
	color: #ff718d;
}

.CellList .tit img {
	float: right;
	display: block;
}

.CellList .List {
	clear: both;
	background: #FFFFFF;
	overflow-y: scroll;
    overflow: auto;
    overflow-x: hidden;
}


.CellList .List p {
	clear: both;
	border-bottom: 1px solid #eceded;
}

.CellList .List p span {
	color: #333333;
	display: block;
	float: left;
}

.CellList .List p span.light {
	color: #ff718d;
}

.CellList .List p b{ float: right;
	background-size: 100% 100%;
	background-repeat: no-repeat; display: block;}
.CellList .List p b.light{
	background-image: url(../images/ok.png);
}
